{
  "__merge": [],
  "defaultBlueprints": 
  {
    "tier1": 
    [
	    { "item" : "CS_ConstructionTable" },
      { "item" : "CS_BunkerMedium" },
      { "item" : "CS_FloranStore" },
      { "item" : "CS_PentaHouse" },
      { "item" : "CS_GlitchHut" },
      { "item" : "CS_GlitchLibrary" },
      { "item" : "CS_GlitchHouse" },
      { "item" : "CS_FloranLongHouse" },
      { "item" : "CS_FloranHouse" },
      { "item" : "CS_GlitchFarmHouse" },
      { "item" : "CS_BunkerSmall" },
      { "item" : "CS_AvianHouse" },
      { "item" : "CS_AvianTunnel" },
      { "item" : "CS_BunkerLarge" }
    ]
  }
}
